name: Build an Deploy Spring application

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    name: build and deploy spring boot app
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup JDK 20
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 20

      - name: Unit Tests
        run: mvn -B test --file pom.xml

      - name: build the application
        run:
          mvn clean
          mvn -B package --file pom.xml
          

